body{
    padding: 0;
    margin: 0;
    background-color: #fff;
}
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  .abc{
      height: 150px;
      width: 180px;
      padding: 20px;
      position:absolute;
  }
  .menus{
      position: absolute;
      left: 250px;
      top: 80px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: bold;
  }
  .text-decoration{
      text-decoration: none;
      padding: 25px;
      color: white;
      font-size: 26px;
  }
  .text-decoration:hover{
      font-size: 29px;
  }
  
  .text {
    color: azure;
    font-size: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    bottom: 130px;
    width: 100%;
    text-align: center;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 1px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

.intro{
    display: flex;
    justify-content: space-between;
}

.about-page-heading{
    text-align: center;
    font-size: 40px;
    margin: 50px 0;
    color: tomato;
    font-family: cursive;
}

.about-page-description{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
    margin-top: 30px;
    font-family: cursive;
}

.taj-hotel-img{
    border-radius: 10px;
    margin-right: 15%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.taj-hotel-img1{
    margin-left: 10%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.about-page-description1{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
    font-family: cursive;
}

.our-services{
    font-size: 20px;
    margin-left: 15%;
    font-family: cursive;
}

.taj-hotel-img2{
    margin-right: 10%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.gallery-title{
    text-align: center;
    font-size: 22px;
    font-family: cursive;
}

.main-image-container{
    background-color: #f4f4f4;
    border: 1px solid black;
    margin-left: 28%;
    margin-right: 28%;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.main-hotel-image{
    height: 300px;
    width: 500px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
}

.images-container{
    display: flex;
    justify-content: center;
}

.hotel-image{
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
    height: 420px;
    width: 100%;
    background-color: #717171;
}
.footer-about-us{
   margin-left: 10px;
    height: 350px;
    width: 350px;
    color: white;
}
.about-us{
    padding-top: 60px;
    color: white;
}
.footer-nvigation{
    height: 300px;
    width: 300px;
    padding-top: 60px;
    color: white;
}
.navigation-pages{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.footer-connect{
    height: 380px;
    width: 400px;
    padding-top: 60px;
    color: white;
}
.location{
    height: 25px;
    width: 25px;
}
.location-address{
    color: white;
    text-decoration: none;
}
.mail{
    height: 25px;
    width: 25px;
}
.mail-address{
    color: white;
    text-decoration: none;
}
.contact{
    height: 25px;
    width: 25px;
}
.contact-address{
    color: white;
    text-decoration: none;
}
.facebook{
    height: 35px;
    width: 35px;
    cursor: pointer;
}
.footer-last{
    height: 30px;
    width: 100%;
    background-color: black;
}
.last-footer-text{
    color: white;
    font-size: 15px;
    padding-top: 6px;
    display: block;
    text-align: center;
}


@media only screen and (max-width: 600px){
    .abc{
        height: 70px;
        width: 100px;
    }
    .text-decoration{
        font-size: 20px;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .text{
        font-size: 50px;
    }
    .about-page-heading{
        font-size: 30px;
    }
    .about-page-description{
        font-size: 15px;
        margin-top: 0;
    }
    .taj-hotel-img{
        height: 150px;
        width: 150px;
        object-fit: cover;
    }
    .taj-hotel-img1{
        height: 150px;
        width: 150px;
        margin-top: 40px;
        object-fit: cover;
    }
    .about-page-description1{
        font-size: 15px;
        margin-top: 0;
    }
    .our-services{
        font-size: 15px;
        margin-left: 0;
    }
    .taj-hotel-img2{
        height: 150px;
        width: 150px;
    }
    .gallery-title{
        font-size: 15px;
    }
    .main-image-container{
        margin-left: 20%;
        margin-right: 20%;
    }
    .main-hotel-image{
        height: 150px;
        width: 250px;
    }
    .hotel-image{
        height: 35px;
        width: 35px;
        display: flex;
        flex-wrap: wrap;
    }
    .footer{
        margin-top: 90px;
        height: 800px;
    }
    .footer-about-us{
        height: 220px;
        width: 350px;
    }
    .about-us{
        padding-top: 10px;
    }
    .about-us-text{
        font-size: 15px;
    }
    .footer-nvigation{
        height: 250px;
        width: 340px;
        padding-top: 0px;
    }
    .footer-connect{
        height: 300px;
        width: 350px;
        padding-top: 0px;
    }
    .last-footer-text{
        font-size: 12px;
        padding-top: 7px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 800px){
    .text{
        font-size: 50px;
    }
    .taj-hotel-img1{
        height: 250px;
        width: 250px;
        margin-top: 40px;
        object-fit: cover;
    }
    .about-page-description{
        margin-top: 0;
    }
    .taj-hotel-img2{
        height: 250px;
        width: 250px;
    }
    .main-image-container{
        margin-left: 15%;
        margin-right: 15%;
    }
    .main-hotel-image{
        height: 300px;
        width: 400px;
    }
    .hotel-image{
        height: 50px;
        width: 50px;
    }
    .footer{
        margin-top: 90px;
        height: 800px;
    }
    .footer-about-us{
        height: 220px;
        width: 350px;
    }
    .about-us{
        padding-top: 10px;
    }
    .about-us-text{
        font-size: 15px;
    }
    .footer-nvigation{
        height: 250px;
        width: 350px;
        padding-top: 0px;
    }
    .footer-connect{
        height: 300px;
        width: 350px;
        padding-top: 0px;
    }
    .last-footer-text{
        font-size: 15px;
        padding-top: 6px;
    }
}
@media only screen and (min-width: 801px) and (max-width: 1400px){
    
}