.intro{
    display: flex;
    justify-content: space-between;
}

.about-page-heading{
    text-align: center;
    font-size: 40px;
    margin: 50px 0;
}

.about-page-description{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
    margin-top: 50px;
}

.taj-hotel-img{
    border-radius: 10px;
    margin-right: 15%;
}
.taj-hotel-img1{
    margin-left: 10%;
    border-radius: 10px;
}

.about-page-description1{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
}

.our-services{
    font-size: 20px;
    margin-left: 15%;
}

.taj-hotel-img2{
    margin-right: 10%;
    border-radius: 10px;
}

.gallery-title{
    text-align: center;
    font-size: 23px;
}

.main-image-container{
    border: 1px solid black;
    margin-left: 28%;
    margin-right: 28%;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.main-hotel-image{
    height: 300px;
    width: 500px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
}

.images-container{
    display: flex;
    justify-content: center;
}

.hotel-image{
    height: 70px;
    width: 70px;
    object-fit: cover;
    border: px solid black;
    padding: px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}