body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Nav Bar Start */

.navBar {
    background-color: #ffffff;
    padding: 70px;
}

.logoImg {
    height: 110px;
    width: 160px;
    padding: 20px;
    margin: auto;
    top: -5px;
    left: 3px;
    position: absolute;
}

.navbarMenue {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.navbarOption {
    text-decoration: none;
    color: #000000;
    position: relative;
    left: 1250px;
}

/* Nav Bar End */

.middlePart {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 40px auto;
}

.infoContainer {
    width: 60%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card {
    width: 90%;
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
}

.formHead{
    font-size: 20px;
    border-bottom: 2px solid black;
}

label {
    margin-bottom: 6px;
    color: #000000;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="number"],
select,
input[type="file"] {
    width: 250px;
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 14px;
}

select {
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 4px;
    font-size: 15px;
    margin-bottom: 10px;
}

.labelDeco {
    font-weight: bold;
}

/*for guest number */
.numberIcons {
    height: 25px;
    margin: 25px;
    cursor: pointer;
    border: 2px solid #000000;
    padding: 5px;
}

.guestValue {
    position: relative;
    bottom: 37px;
    font-size: 20px;
    font-weight: 25px;
    border: 2px solid #000000;
    padding: 6px 20px;
}

.increDecre_Guest,
.for_numGuest {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}



.btnConfirm {
    height: 40px;
    width: 150px;
    margin-top: 25px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    background-color: tomato;
    position: relative;
    left: 200px;
}

.btnConfirm:hover {
    background-color: rgb(241, 170, 158);
    height: 37px;
    width: 149px;
    border-radius: 4px;
}


.card {
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.card p {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.roomName {
    font-weight: bold;
}

.bookNow {
    position: relative;
    left: 95px;
    padding: 5px 20px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    background-color: tomato;
}

.bookNow:hover {
    background-color: rgb(241, 170, 158);
    border-radius: 4px;
}

.seeMore {
    position: relative;
    right: -20px;
}

/* end */


/* Footer CSS Start */


.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 150px;
    height: 420px;
    width: 100%;
    background-color: #717171;
}
.footer-about-us{
   margin-left: 10px;
    height: 350px;
    width: 350px;
    color: white;
}
.about-us{
    padding-top: 60px;
    color: white;
}
.footer-nvigation{
    height: 300px;
    width: 400px;
    padding-top: 60px;
    color: white;

}
.navigation-pages{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.footer-connect{
    height: 380px;
    width: 400px;
    padding-top: 60px;
    color: white;
}
.location{
    height: 25px;
    width: 25px;
}
.location-address{
    color: white;
    text-decoration: none;
}
.mail{
    height: 25px;
    width: 25px;
}
.mail-address{
    color: white;
    text-decoration: none;
}
.contact{
    height: 25px;
    width: 25px;
}
.contact-address{
    color: white;
    text-decoration: none;
}
.facebook{
    height: 35px;
    width: 35px;
    cursor: pointer;
}
.footer-last{
    height: 30px;
    width: 100%;
    background-color: black;
}
.last-footer-text{
    color: white;
    font-size: 15px;
    padding-left: 10px;
}


/* Footer CSS End */



@media only screen and (max-width: 600px) {

    .footer{
        margin-top: 90px;
        height: 800px;
        width: 100%;
        background-color: #717171;
    }
    .footer-about-us{
        height: 220px;
        width: 350px;
        color: white;
    }
    .about-us{
        padding-top: 10px;
        color: white;
    }
    .about-us-text{
        font-size: 15px;
    }
    .footer-nvigation{
        height: 250px;
        width: 340px;
        padding-top: 0px;
        color: white;
    }
    .navigation-pages{
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    .footer-connect{
        height: 300px;
        width: 350px;
        padding-top: 0px;
        color: white;
    }
    .location{
        height: 20px;
        width: 20px;
    }
    .location-address{
        color: white;
        text-decoration: none;
    }
    .mail{
        height: 20px;
        width: 20px;
    }
    .mail-address{
        color: white;
        text-decoration: none;
    }
    .contact{
        height: 20px;
        width: 20px;
    }
    .contact-address{
        color: white;
        text-decoration: none;
    }
    .facebook{
        height: 35px;
        width: 35px;
        cursor: pointer;
    }
    .footer-last{
        height: 30px;
        width: 100%;
        background-color: black;
    }
    .last-footer-text{
        color: white;
        font-size: 12px;
        padding-left: 10px;
    }


    .abc{
        height: 60px;
        width: 110px;
        padding: 1px;
    }
    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
    }
    .menus{
        position:absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        left: 400px;
        top: 30px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold; 
    }
    .text-decoration{
        text-decoration: none;
        padding: 6px;
        color: white;
    }
    .text {
        font-size: 60px
    }
    .dot{
        height: 10px;
        width: 10px;
    }

    
.card {
    width: 40%;
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.bookNow {
    position: relative;
    left: 5px;
    top: 10px;
    padding: 5px 5px;
    font-weight: bold;
    font-size: 10px;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    background-color: tomato;
}

.bookNow:hover {
    background-color: rgb(241, 170, 158);
    border-radius: 4px;
}

.btnConfirm {
    height: 40px;
    width: 150px;
    margin-top: 25px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    background-color: tomato;
    position: relative;
    left: 20px;
}


}
