body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Nav Bar Start */

.navBar {
    background-color: #ffffff;
    padding: 70px;
}

.logoImg {
    height: 110px;
    width: 160px;
    padding: 20px;
    margin: auto;
    top: -5px;
    left: 3px;
    position: absolute;
}

.navbarMenue {
    position: absolute;
    left: 250px;
    top: 80px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.navbarOption {
    text-decoration: none;
    padding: 25px;
    color: #000000;
}

/* Nav Bar End */

.infoContainer {
    max-width: 800px;
    margin: 40px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 6px;
    color: #000000;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="number"],
select,
input[type="file"] {
    width: 250px;
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 14px;
}

select {
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 4px;
    font-size: 15px;
    margin-bottom: 10px;
}


/* for guest number */
.numberIcons {
    height: 25px;
    margin: 25px;
    cursor: pointer;
    border: 2px solid #000000;
    padding: 5px;
}

.guestValue {
    position: relative;
    bottom: 37px;
    font-size: 20px;
    font-weight: 25px;
    border: 2px solid #000000;
    padding: 6px 20px;
}

.increDecre_Guest,
.for_numGuest {
    display: inline-block;
    vertical-align: middle;
}

/* end guest number */


/* Footer CSS Start */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
    height: 420px;
    width: 100%;
    background-color: #717171;
}

.foot_aboutUs {
    margin-left: 10px;
    height: 350px;
    width: 350px;
    color: white;
    padding-top: 60px;
}

.footNavigation {
    height: 300px;
    width: 300px;
    padding-top: 60px;
    color: white;
}

.naviPages {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.footContact {
    height: 380px;
    width: 400px;
    padding-top: 60px;
    color: white;
}

.contactImg {
    height: 25px;
    width: 25px;
}

.contactAdd {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.socialMedia {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.footerLast {
    width: 100%;
    padding: 30px;
}

.copyRight {
    color: rgb(0, 0, 0);
    font-size: 18px;
    display: block;
    text-align: center;
}

/* Footer CSS End */