body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Nav Bar Start */

.navBar {
    background-color: #ffffff;
    padding: 70px;
}

.logoImg {
    height: 110px;
    width: 160px;
    padding: 20px;
    margin: auto;
    top: -5px;
    left: 3px;
    position: absolute;
}

.navbarMenue {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.navbarOption {
    text-decoration: none;
    color: #000000;
    position: relative;
    left: 1250px;
}

/* Nav Bar End */

.middlePart {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 40px auto;
}

.infoContainer {
    width: 60%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card {
    width: 90%;
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formHead{
    font-size: 20px;
    border-bottom: 2px solid black;
}

label {
    margin-bottom: 6px;
    color: #000000;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="number"],
select,
input[type="file"] {
    width: 250px;
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 14px;
}

select {
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 4px;
    font-size: 15px;
    margin-bottom: 10px;
}

.labelDeco {
    font-weight: bold;
}

/*for guest number */
.numberIcons {
    height: 25px;
    margin: 25px;
    cursor: pointer;
    border: 2px solid #000000;
    padding: 5px;
}

.guestValue {
    position: relative;
    bottom: 37px;
    font-size: 20px;
    font-weight: 25px;
    border: 2px solid #000000;
    padding: 6px 20px;
}

.increDecre_Guest,
.for_numGuest {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}



.btnConfirm {
    height: 40px;
    width: 150px;
    margin-top: 25px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    background-color: tomato;
    position: relative;
    left: 200px;
}

.btnConfirm:hover {
    background-color: rgb(241, 170, 158);
    height: 37px;
    width: 149px;
    border-radius: 4px;
}


.card {
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.card p {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.roomName {
    font-weight: bold;
}

.bookNow {
    position: relative;
    left: 95px;
    padding: 5px 20px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    background-color: tomato;
}

.bookNow:hover {
    background-color: rgb(241, 170, 158);
    border-radius: 4px;
}

.seeMore {
    position: relative;
    right: -20px;
}

/* end */


/* Footer CSS Start */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
    height: 420px;
    width: 100%;
    background-color: #717171;
}

.foot_aboutUs {
    margin-left: 10px;
    height: 350px;
    width: 350px;
    color: white;
    padding-top: 60px;
}

.footNavigation {
    height: 300px;
    width: 300px;
    padding-top: 60px;
    color: white;
}

.naviPages {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.footContact {
    height: 380px;
    width: 400px;
    padding-top: 60px;
    color: white;
}

.contactImg {
    height: 25px;
    width: 25px;
}

.contactAdd {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.socialMedia {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.footerLast {
    width: 100%;
}

.copyRight {
    color: rgb(255, 255, 255);
    font-size: 15px;
    display: block;
    background-color: black;
    padding: 10px;
}

/* Footer CSS End */

