
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
 .slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.abc{
    height: 150px;
    width: 180px;
    padding: 20px;
    position:absolute;
}
.menus{
    position: absolute;
    left: 250px;
    top: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.text-decoration{
    text-decoration: none;
    padding: 25px;
    color: white;
    font-size: 30px;
}
.text-decoration:hover{
    font-size: 29px;
}

/* Caption text */
.text {
  color: azure;
  font-size: 110px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 8px 12px;
  position: absolute;
  bottom: 130px;
  width: 100%;
  text-align: center;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 1px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.second-novbar{
    height: 150px;
    background-color:rgb(245, 250, 254);
}

.form-1{
    font-size: 20px;
    padding-left: 400px;
    padding-top: 50px;
    display: flex;
    gap: 30px;
}

.drop-down{
    height: 40px;
    width: 150px;
    cursor: pointer;
}
.btn{
  height: 40px;
  width: 150px;
  margin-top: 25px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
  color: white;
  background-color: tomato;
}
.btn:hover{
    background-color:rgb(241, 170, 158) ;
    color: black;
    height: 37px;
    width: 149px;
    border-radius: 4px;
}
.attraction-div{
    margin-top: 70px;
}
.attraction-title{
    text-align: center;
    color: tomato;
    font-size: 70px;
    font-family:cursive;
}
.img-card{
    height: 600px;
    width: 450px;
}
.img1{
    height: 500px;
    width: 450px;
    border-radius: 10px;
}
.img1:hover{
    width: 445px;
   border-radius: 10px;
   cursor: pointer;
}
.img-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.img-text{
    color: tomato;
    font-family: cursive;
    text-align: center; 
}
.img-text:hover{
    cursor: pointer;
}
.btn-div{
    text-align: center;
    margin-top: 25px;
}
.btn-2{
    height: 40px;
    width: 130px;
    font-size: 18px;
    border-radius: 50px;
    background-color: tomato;
    color: white;
    cursor: pointer;
}
.btn-2:hover{
    height: 35px;
    background-color:rgb(241, 170, 158) ;
    color: black;
    font-size: 15px;
    
}
.form-div{
    text-align: center;
    color: tomato;
    font-family: cursive;
    margin-top: 40px;
    font-size: 25px;
}

.forms{
  margin-left: 200px;
  
}
.form-names{
    height: 50px;
    width: 250px;
    font-size: 15px;
    border-radius: 50px;
    cursor: pointer;
}
.form-name1{
    height: 50px;
    width: 250px;
    font-size: 15px;
    border-radius: 50px;
    background-color: tomato;
    color: white;
    cursor: pointer;
}
.form-name1:hover{
    background-color:rgb(241, 170, 158) ;
    width: 248px;
    color: black;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 150px;
    height: 420px;
    width: 100%;
    background-color: #717171;
}
.footer-about-us{
   margin-left: 10px;
    height: 350px;
    width: 350px;
    color: white;
}
.about-us{
    padding-top: 60px;
    color: white;
}
.footer-nvigation{
    height: 300px;
    width: 400px;
    padding-top: 60px;
    color: white;

}
.navigation-pages{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.footer-connect{
    height: 380px;
    width: 400px;
    padding-top: 60px;
    color: white;
}
.location{
    height: 25px;
    width: 25px;
}
.location-address{
    color: white;
    text-decoration: none;
}
.mail{
    height: 25px;
    width: 25px;
}
.mail-address{
    color: white;
    text-decoration: none;
}
.contact{
    height: 25px;
    width: 25px;
}
.contact-address{
    color: white;
    text-decoration: none;
}
.facebook{
    height: 35px;
    width: 35px;
    cursor: pointer;
}
.footer-last{
    height: 30px;
    width: 100%;
    background-color: black;
}
.last-footer-text{
    color: white;
    font-size: 15px;
    padding-left: 10px;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
 @media only screen and (max-width: 600px) {
    .abc{
        height: 60px;
        width: 110px;
        padding: 1px;
    }
    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
    }
    .menus{
        position:absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        left: 400px;
        top: 30px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold; 
    }
    .text-decoration{
        text-decoration: none;
        padding: 6px;
        color: white;
    }
    .text {
        font-size: 60px
    }
    .dot{
        height: 10px;
        width: 10px;
    }
    .second-novbar{
        height: 120px;
        background-color:rgb(245, 250, 254);
    }
    .form-1{
        font-size: 15px;
        padding-left: 15px;
        padding-top: 30px;
        display: flex;
        gap: 20px;
    }
    .drop-down{
        height: 30px;
        width: 100px;
        cursor: pointer;
    }
    .btn{
        height: 31px;
        width: 100px;
        margin-top: 19px;
        border-radius: 2px;
        cursor: pointer;
        font-size: 12px;
        color: white;
        background-color: tomato;
    }
    .btn:hover{
        background-color:rgb(241, 170, 158) ;
        color: black;
        height: 30px;
        width: 99px;
        border-radius: 2px;
    }
    .attraction-div{
        margin-top: 40px;
    }
    .attraction-title{
        text-align: center;
        color: tomato;
        font-size: 50px;
        font-family:cursive;
    }
    .img-card{
        height: 600px;
        width: 400px;
    }
    .img1{
        height: 500px;
        width: 450px;
        border-radius: 10px;
    }
    .img1:hover{
        width: 447px;
        border-radius: 10px;
        cursor: pointer;
    }
    .img-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .img-text{
        color: tomato;
        font-family: cursive;
        text-align: center; 
    }
    .img-text:hover{
        cursor: pointer;
    }
    .btn-div{
        text-align: center;
        margin-top: 20px;
    }
    .btn-2{
        height: 30px;
        width: 100px;
        font-size: 12px;
        border-radius: 50px;
        background-color: tomato;
        color: white;
        cursor: pointer;
    }
    .btn-2:hover{
        height: 29px;
        width: 99px;
        background-color:rgb(241, 170, 158) ;
        color: black;
        font-size: 12px;
        
    }
    .form-div{
        text-align: center;
        color: tomato;
        font-family: cursive;
        margin-top: 40px;
        font-size: 20px;
    }
    
    .forms{
      margin-left: 0px;
      text-align: center;
      
    }
    .form-names{
        height: 35px;
        width: 130px;
        font-size: 12px;
        border-radius: 50px;
        cursor: pointer;
    }
    .form-name1{
        height: 35px;
        width: 130px;
        font-size: 12px;
        border-radius: 50px;
        background-color: tomato;
        color: white;
        cursor: pointer;
    }
    .form-name1:hover{
        background-color:rgb(241, 170, 158) ;
        width: 118px;
        color: black;
    }
    .footer{
        margin-top: 90px;
        height: 800px;
        width: 100%;
        background-color: #717171;
    }
    .footer-about-us{
        height: 220px;
        width: 350px;
        color: white;
    }
    .about-us{
        padding-top: 10px;
        color: white;
    }
    .about-us-text{
        font-size: 15px;
    }
    .footer-nvigation{
        height: 250px;
        width: 340px;
        padding-top: 0px;
        color: white;
    }
    
    .navigation-pages{
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    .footer-connect{
        height: 300px;
        width: 350px;
        padding-top: 0px;
        color: white;
    }
    .location{
        height: 20px;
        width: 20px;
    }
    .location-address{
        color: white;
        text-decoration: none;
    }
    .mail{
        height: 20px;
        width: 20px;
    }
    .mail-address{
        color: white;
        text-decoration: none;
    }
    .contact{
        height: 20px;
        width: 20px;
    }
    .contact-address{
        color: white;
        text-decoration: none;
    }
    .facebook{
        height: 35px;
        width: 35px;
        cursor: pointer;
    }
    .footer-last{
        height: 30px;
        width: 100%;
        background-color: black;
    }
    .last-footer-text{
        color: white;
        font-size: 12px;
        padding-left: 10px;
    }
}