body {

    background-image:url('../images/new.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.navbar {
    display: flex;
    position: relative;
}

.brandlogo {
    height: 250px;
    width: 300px;
}

.slogan {
    margin-top: 90px;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    font-size: 30px;
    position: relative;
    right: 10px;
    bottom: 10px;
}

.homebutton {
    color: white;
    position: relative;
    left: 50px;


}

.slg2 {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 300px;
    font-size: 65px;
    color: white;
    position: relative;
    top: 0px;
}

.logslg {
    display: flex;
}

.loginbox {
    position: relative;
    right: 120px;
    bottom: 65px;
    height: 500px;
    width: 990px;
    background-color: white;
    box-shadow: 3px 3px 5px 5px goldenrod;
    position: relative;
}

.loginheader {
    height: 44px;
    width: 100%;
    background-color: goldenrod;

}

.loginheading {
    margin-left: 20px;
    font-size: 40px;
}

.emailname {
    margin-top: 50px;
    margin-left: 40px;
    font-size: 23px;
    position: relative;
    bottom: 15px;
}

.emailbox {
    margin-left: 40px;
    height: 30px;
    width: 280px;
    box-shadow: 2px 2px 2px 2px goldenrod;
    position: relative;
    bottom: 25px;
}

.emailbox:hover {
    transform: scale(1.10);
}

.passwordname {
    margin-top: 50px;
    margin-left: 40px;
    font-size: 23px;
    position: relative;
    bottom: 55px;
}

.Passwordbox {
    margin-left: 40px;
    height: 30px;
    width: 280px;
    box-shadow: 2px 2px 2px 2px goldenrod;
    position: relative;
    bottom: 65px;
}

.Passwordbox:hover {
    transform: scale(1.10);
}

.forgotpassword {
    position: relative;
    bottom: 69px;
    left: 236px;
    font-size: 13px;
    cursor: pointer;
}

.forgotpassword:hover {
    transform: scale(1.10);
}

.signin {
    background-color: goldenrod;
    color: white;
    position: relative;
    bottom: 55px;
    left: 130px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    width: 110px;
    border: double 5px white;
    border-radius: 10px 0 10px 0;
    box-shadow: 1px 1px 1px 1px goldenrod;

}

.signin:hover {
    transform: scale(1.10);
}

.signup {
    position: relative;
    bottom: 16px;
    left: 200px;
    cursor: pointer;
    font-size: 16px;
}

.signup:hover {
    transform: scale(1.10);

}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
    height: 420px;
    width: 100%;
    background-color: goldenrod;
    margin-bottom: 0;
   
.footer-about-us{
   margin-left: 10px;
    height: 350px;
    width: 350px;
    color: white;
    border: 2px solid goldenrod;
}
.about-us{
    padding-top: 60px;
    color: white;
}
.footer-nvigation{
    height: 300px;
    width: 400px;
    padding-top: 60px;
    color: white;
    border: 2px solid goldenrod;

}
.navigation-pages{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.footer-connect{
    height: 300px;
    width: 400px;
    padding-top: 60px;
    color: white;
    border: 2px solid goldenrod;
}
.location{
    height: 25px;
    width: 25px;
}
.location-address{
    color: white;
    text-decoration: none;
}
.mail{
    height: 25px;
    width: 25px;
}
.mail-address{
    color: white;
    text-decoration: none;
}
.contact{
    height: 25px;
    width: 25px;
}
.contact-address{
    color: white;
    text-decoration: none;
}
.facebook{
    height: 35px;
    width: 35px;
    cursor: pointer;
}
}

@media (max-width:600px) {
    .brandlogo {
        height: 120px;
        width: 150px;
    }

    .slogan {
        margin-top: 90px;
        margin-left: 20px;
        margin-right: 0px;
        color: white;
        font-size: 20px;
        position: relative;
        right: 10px;
        bottom: 60px;
    }

    .homebutton {
        color: white;
        position: relative;
        left: 5px;
        font-size: 20px;
        bottom: 10px;

    }

    .loginbox {
        position: relative;
        right: 610px;
        bottom: 65px;
        height: 500px;
        width: 990px;
        background-color: white;
        box-shadow: 3px 3px 5px 5px goldenrod;
        position: relative;
    }

    .forgotpassword {
        position: relative;
        bottom: 69px;
        left: 200px;
        font-size: 13px;
        cursor: pointer;
    }

    .signup {
        position: relative;
        bottom: 24px;
        left: 120px;
        cursor: pointer;
        font-size: 16px;
    }

    .emailname {
        margin-top: 50px;
        margin-left: 20px;
        font-size: 23px;
        position: relative;
        bottom: 15px;
    }

    .emailbox {
        margin-left: 20px;
        height: 30px;
        width: 280px;
        box-shadow: 2px 2px 2px 2px goldenrod;
        position: relative;
        bottom: 25px;
    }

    .passwordname {
        margin-top: 50px;
        margin-left: 20px;
        font-size: 23px;
        position: relative;
        bottom: 55px;
    }

    .Passwordbox {
        margin-left: 20px;
        height: 30px;
        width: 280px;
        box-shadow: 2px 2px 2px 2px goldenrod;
        position: relative;
        bottom: 65px;
    }
    .signup {
        position: relative;
        bottom: 13px;
        left: 115px;
        cursor: pointer;
        font-size: 16px;
    }
    
}
}