*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Roboto', sans-serif;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100px;
    box-shadow: 1px 3px 3px 3px rgb(228, 227, 227);
    background-color: white;
}

.logo {
    display: flex;
}

.logo img{
    width: 200px;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    margin: 30px;
    color: black;
}

.searchbar{
    display: flex;
}

.logo img{
    width: 200px;
    height: 400px;
    
    
    
}
.logo{
    display: flex;
    align-items: center;
    
}
.searchBar input{
    width: 350px;
    padding: 8px;
    border: none;
    outline: none;
    background-color: #e8e8e8;
    font-size: 20px;
}
.searchBar i{
    margin-left: -27px;
    font-size: 18px;
    margin-top: 8px;
}



.icons{
    display: flex;
    gap: 22px;
}

.icons i{
    font-size: 24px;
}

.main {
    display: flex;
    justify-content: space-around;
    background-color: rgb(247,157,93);
    margin-top:96px; 
}

.mainText {
margin-top: 100px;
}

.mainText h1{
    font-size:50px ;
    
}
.mainText button {
    margin-top: 22px;
    width: 140px;
    height: 40px;
    background-color: black;
    color:white ; 
    font-size: 20px;
    border:none ;
    cursor: pointer;

}

.maintext {
    margin-top: 22px;
    font-size: 50px;
}

.maintext button:hover {
    border: 3px solid black;
    background-color: transparent;
    cursor: pointer;
}

.main img{
    width: 450px;
}

.head{
    text-align: center;
    padding: 100px;
}

.head{
    text-align: center;
    padding: 90px;
}
.service-card2{
    display: flex;
    justify-content: center;

}
.service-card{
    display: flex;
    justify-content: center;

}
.card{
    width: 100px;
    background-color: #fff;
    margin-inline: 22px;
    margin-top: 24px;
}
.card img{
    width: 100%;
    height: 300px;
}
.card p{
    padding: 8px;
}






.footer{
    display: flex;
    justify-content: space-around;
    padding: 66px;
    margin-top: 66px;
    background-color: rgb(250, 140, 89);
}
.text p{
    margin-top: 12px;
}
.cardDetail{
    display: flex;
    padding: 33px;
    gap: 22px;
}
.cardDetail img{
    width: 400px;
}
.cardDetail p{
    margin-top: 20px;
    font-size: 18px;
}
.cardDetail h3{
    margin-top: 32px;
}
.cardDetail button{
    width: 140px;
    height: 40px;
    background-color: rgb(255, 145, 0);
    color: white;
    font-size: 20px;
    border: none;
    margin-top: 33px;
    cursor: pointer;
}
.detailText{
    font-size: 20px;
    margin-top: 33px;
}
.detailText i{
    color: orange;
    font-size: 22px;
    margin-top: 22px;
}
.detailText a{
    padding: 8px 22px;
    background-color: rgb(250, 29, 66);
    color: white;
    text-decoration: none;
}





.electronice-heding-img-3{
    background-image: url('./eletronice-heding-img.gif');
    background-size:cover ;
    background-position:center ;
    height: 350px;
    margin-top:30px ;
}



.heads{
    text-align: center;
    padding: 100px;
}

.heads{
    text-align: center;
    padding: 90px;
}
.WomenCard{
    display: flex;
    justify-content: center;

}
.menCard{
    display: flex;
    justify-content: center;

}
.card{
    width: 300px;
    background-color: #fff;
    margin-inline: 22px;
    margin-top: 24px;
}
.card img{
    width: 100%;
    height: 300px;
}
.card p{
    padding: 8px;
}

