.head{
    text-align: center;
    padding: 60px;
    font-size: 22px;
    color: rgb(6, 181, 240);
}

.head{
    text-align: center;
    padding: 9px;
}


.service-card{
    display: flex;
    justify-content: center;

}

.service-card2{
    display: flex;
    justify-content: center;

}

.card{
    width: 250px;
    background-color: #fff;
    margin-inline: 22px;
    margin-top: 24px;
    margin: 20px;
    padding: 55px;
}

.card img{
    width: 100%;
    height: 200px;
}
.card p{
    padding: 3px;
    font-size: 22px;
}

@media  only screen and (max-width:600px) {
    .head{
        text-align: center;
        padding: 60px;
        font-size: 22px;
        color: rgb(6, 181, 240);
    }
    
    .head{
        text-align: center;
        padding: 9px;
    }
    
    .service-card{
        display: flex;
        justify-content: center;
    
    }
    
    .service-card2{
        display: flex;
        justify-content: center;
    
    }
    
    .card{
        width: 250px;
        background-color: #fff;
        margin-inline: 22px;
        margin-top: 24px;
        margin: 20px;
        padding: 55px;
    }
}

@media  only screen and (max-width:600px) {

    .card img{
        width: 100%;
        height: 200px;
    }
    .card p{
        padding: 3px;
        font-size: 22px;
    }
}









    
    



